# SERVER
PORT=3003
APP_NAME=
HTTP_REQUEST_TIMEOUT_MS=30000
HTTP_HEADERS_TIMEOUT_MS=35000
HTTP_KEEP_ALIVE_TIMEOUT_MS=5000
GRACEFUL_SHUTDOWN_TIMEOUT_MS=10000

# JWT
JWT_SECRET=
JWT_DEFAULT_EXPIRY=

# HASH
HASH_SALT_ROUNDS=

# EMAIL
RESEND_TOKEN=
RESEND_SENDER_ADDRESS=
ALLOW_ALL_EMAILS=
EMAIL_NOTIF_INTERVAL_MINS=
EMAIL_FALLBACK_SLACK_WEBHOOK=


# DB
MONGODB_URI=
MONGODB_SERVER_SELECTION_TIMEOUT_MS=10000
MONGODB_SOCKET_TIMEOUT_MS=45000
MONGODB_MAX_POOL_SIZE=10

# MOCK
MOCK_AUTHORIZATION_HEADER=
MODEL_MOCK_SESSION=
USE_MOCK_MODEL=
ALLOW_MOCKED_HTTP_PROXY=


# LOGGER
PINO_LOG_LEVEL=
SHOW_RAW_HEADERS=
LOG_APP_REQUEST=
CAN_LOG_ENDPOINT_INFORMATION=

#REDIS
REDIS_URL=
QUEUE_NAME=

#VALIDATOR
NO_SINGLE_ERRORS=
TOP_LEVEL_ERROR_MESSAGE=

#SECRET MANAGER
AWS_ACCESS_KEY_ID=
SECRETS_MANAGER_ID=
USE_SECRETS_MANAGER=
AWS_SECRET_ACCESS_KEY=
